@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
} */


/* start of the taiwlind css */
.navBar{
	@apply dark:bg-[#080D19] bg-white py-4 px-7 shadow-md z-10 border-black absolute dark:shadow-md dark:shadow-blue-500/50 w-full fixed top-0 left-0
}

.portFolio{
	@apply font-normal text-3xl leading-6 text-gray-800 dark:text-white font-kaushan
}

.toggleSwitch{
	@apply p-2 bg-transparent border border-gray-300 dark:border-[#f4f4f5] rounded-full dark:hover:border-blue-500
}

/* home page css */
.home{
	@apply w-screen h-screen bg-sky-50/90 pl-10 pr-20 flex justify-between items-center dark:bg-[#060d1e]
}

.title{
	@apply flex font-kaushan text-5xl font-bold dark:text-white text-gray-800
}

/* .intro{
	@apply mt-3 text-4xl text-gray-800 dark:text-white
} */

.skillsType{
	@apply mt-8 text-2xl font-bold text-gray-800 dark:text-white font-fira
}

.shortIntro{
	@apply text-lg mt-1 text-gray-800 dark:text-white font-fira
}

.color_check{
	color: #060d1e;
}